* {
    box-sizing: content-box;
    font-family: 'Exo 2', sans-serif;
   
}
#DatPers, #botonODP, #presentación, #botonOPres, #FormAcad, #b-OFA, #ExpLab, #b-OEL{
    display: block;
}

#botonMDP, #botonMPres, #b-MFA, #b-MEL{
    display: none;
}

header{
    position: sticky;
    margin-top: 20px;
    top: 0;
    background-color: rgb(223, 236, 243);
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li{
    margin-left: 20px;
    margin-right: 0px;
    padding: 8px 40px;
    background-color: rgba(106, 183, 245, 0.356);
}

body {
    background-image: url('https://fondosmil.com/fondo/36834.jpg');
}

h1 {
    color:rgb(4, 56, 56);
    font-weight: 700;}

h2 {
    color:rgb(8, 92, 92);
    font-weight: 500;}

h3 {
    color:rgb(4, 56, 56);
    font-weight: 400;}

li {
    color:rgb(11, 48, 26);
    font-weight: 500;}

/**Clases*/
.cabecera {
    font-weight: 10px;    
    border: 20px;}    

.centrado {
    max-width: 70%;
    margin: 0% auto;}

.linea {
    border-bottom: solid seagreen;}

.imagenCV {
    display:flex;
    gap: 70px;
    float: left;}